on:
  schedule:
    - cron: '0 0/6 * * *'
      # Above is temporary for winter season; change back 2 hours in late
      # sping and then to 2 in summer and 1 during height of fire season
  workflow_dispatch:

name: Wildfire data maps scrape reshape build

jobs:
  render:
    name: Scrape fire data
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: r-lib/actions/setup-r@v2
      - name: Set up pandoc for Rmd docs
        uses: r-lib/actions/setup-pandoc@v2
      - name: Install gdal
        run: |
          brew install gdal
      - name: Install dependencies and packages
        run: Rscript -e 'install.packages(c("stringr","janitor","readr","dplyr","sf","leaflet","htmlwidgets","leaflet.providers","leaflet.extras","htmltools"))'
      - name: Scrape data, reshape, make fire map
        run: Rscript scripts/fires_scrape_build.R
      - name: Commit results
        run: |
          git add -A
          git commit -m 'New fires data. Maps updated!' || echo "No changes"
          git push origin || echo "No changes to commit"
          
